@import "./core/variables";

.header {
  box-sizing: border-box;
  height: 60px;
  border-bottom: 1px solid rgba(47, 0, 121, 0.1);
  padding-left: 20px;
  display: flex;
  align-items: center;
  &-title {
    height: 24px;
    width: 101px;
    color: $colortertiary;
    font-size: 21px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
  }
}
